.bookItem {
  padding: 10px;
  margin: 30px;
  width: 1200px;
  cursor: pointer;
}

.bookItemInfo {
  padding-left: 20px;
}

.boldText {
  font-weight: bold;
}

.cursiveText {
  font-style: italic;
}

.categoriesTitle {
  padding-top: 20px;
}
